body {
    font-family: sans-serif;

    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.Contenet{
            max-width:800px;
            margin:0 auto;
            color:lightgrey;
            font-family:Times-new-roman;
            padding-top: 100px;
            padding-left:20px;
            padding-right:20px;
        }

